# MongoDB Configuration
MONGODB_URI=mongo_uri_here
MONGODB_DATABASE=mongodb_database_here
MONGODB_QCOLLECTION=questions
MONGODB_ACOLLECTION=responses

# Hugging Face Token (READ ONLY)
HF_TOKEN=hf_token_here

# Server Configuration
CORS_ORIGINS=origin_here
PORT=port_here
HOST=host_here